<!DOCTYPE html>
<html>
<head>
        <meta charset="UTF-8">

        {% load static %}

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title> Feedback Form</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/feedback.css' %}">

</head>
<body>

<div class="form-box">
    <h2>Client Feedback </h2>
    <form>
        <!-- Question 1 -->
        <div class="question">
            <p>How would you rate  your visit today?</p>
            <label><input type="radio" name="q1"> Excellent</label>
            <label><input type="radio" name="q1"> Good</label>
            <label><input type="radio" name="q1"> Fair</label>
            <label><input type="radio" name="q1"> Poor</label>
        </div>
<hr>
        <!-- Question 2 -->
        <div class="question">
            <p>2.How would you rate the service speed?</p>
            <label><input type="radio" name="q2"> Excellent</label>
            <label><input type="radio" name="q2"> Good</label>
            <label><input type="radio" name="q2"> Fair</label>
            <label><input type="radio" name="q2"> Poor</label>
        </div>
<hr>
        <!-- Question 3 -->
        <div class="question">
            <p>3.How would you rate your stylist in being prepared for your service?</p>
            <label><input type="radio" name="q3"> Excellent</label>
            <label><input type="radio" name="q3"> Good</label>
            <label><input type="radio" name="q3"> Fair</label>
            <label><input type="radio" name="q3"> Poor</label>
        </div>
<hr>
        <!-- Question 4 -->
        <div class="question">
            <p>4. How would you rate your stylist in terms of professionalism?</p>
            <label><input type="radio" name="q4"> Excellent</label>
            <label><input type="radio" name="q4"> Good</label>
            <label><input type="radio" name="q4"> Fair</label>
            <label><input type="radio" name="q4"> Poor</label>
        </div>
<hr>
        <!-- Question 5 -->
        <div class="question">
            <p>5.How would you rate your stylist in terms of friendliness?</p>
            <label><input type="radio" name="q5"> Excellent</label>
            <label><input type="radio" name="q5"> Good</label>
            <label><input type="radio" name="q5"> Fair</label>
            <label><input type="radio" name="q5"> Poor</label>
        </div>

<hr>
            <!-- Question 6 -->
        <div class="question">
            <p>6.How would you describe the attitude of your stylist?</p>
            <label><input type="radio" name="q6"> Excellent</label>
            <label><input type="radio" name="q6"> Good</label>
            <label><input type="radio" name="q6"> Fair</label>
            <label><input type="radio" name="q6"> Poor</label>
             </div>

<hr>
                        <!-- Question 7 -->
        <div class="question">
            <p>7.How would you rate your stylist on their client consultation??</p>
            <label><input type="radio" name="q7"> Excellent</label>
            <label><input type="radio" name="q7"> Good</label>
            <label><input type="radio" name="q7"> Fair</label>
            <label><input type="radio" name="q7"> Poor</label>
             </div>
<hr>
                             <!-- Question 8 -->
        <div class="question">
            <p>8.How would you rate your overall experience??</p>
            <label><input type="radio" name="q8"> Excellent</label>
            <label><input type="radio" name="q8"> Good</label>
            <label><input type="radio" name="q8"> Fair</label>
            <label><input type="radio" name="q8"> Poor</label>
             </div>
<hr>

            
        <!-- Feedback -->
        <div class="question">
            <p>Feedback:</p>
            <textarea placeholder="Type your feedback here..."></textarea>
        </div>

        <button type="submit" onclick="window.location.href='welcome'">Submit</button>

    </form>
</div>

</body>
</html>
