<!DOCTYPE html>
<html>

<body>

<h1>What are you gettig done today</h1>


<label class="container">Perm
  <input type="checkbox" checked="checked">
  <span class="checkmark"></span>
</label>
<label class="container">Color
  <input type="checkbox">
  <span class="checkmark"></span>
</label>
<label class="container">Hairstyle
  <input type="checkbox">
  <span class="checkmark"></span>
</label>
<label class="container">Waxing
  <input type="checkbox">
  <span class="checkmark"></span>
</label>
<label class="container">Nails
  <input type="checkbox">
  <span class="checkmark"></span>
</label>

</body>
</html>
