<!DOCTYPE html>
<html>
<head>
      <meta charset="UTF-8">

      {% load static %}

      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Survey Form</title>
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <link rel="stylesheet" href="{% static 'css/services.css' %}">


</head>

<body>

<h1>What are you getting done today</h1>

<form onsubmit="return checkServices(event)">

<label class="container">Perm
  <input type="checkbox" id="perm">
  <span class="checkmark"></span>
</label>

<label class="container">Color
  <input type="checkbox" id="color">
  <span class="checkmark"></span>
</label>

<label class="container">Hairstyle
  <input type="checkbox" id="hair">
  <span class="checkmark"></span>
</label>

<label class="container">Waxing
  <input type="checkbox" id="waxing">
  <span class="checkmark"></span>
</label>

<label class="container">Nails
  <input type="checkbox" id="nails">
  <span class="checkmark"></span>
</label>

<br><br>
<button type="submit">Submit</button>

</form>

<script>
function checkServices(event) {
  const perm = document.getElementById("perm").checked;
  const color = document.getElementById("color").checked;
  const hair = document.getElementById("hair").checked;
  const waxing = document.getElementById("waxing").checked;
  const nails = document.getElementById("nails").checked;

   if (waxing) {
    window.location.href = "{% url 'client_waiver' %}";
    return false; 
  }

  if (perm || color || hair || nails) {
    window.location.href = "{% url 'welcome' %}";
    return false; 
  } else {
    alert("Please select at least one service before submitting.");
    return false;
}}
</script>


</body>
</html>