<html> 
</head>
   <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title> Cosmetology Form</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="sign.css">
<body>

<div class="form-box">
  <h1>Welcome to Cosmetology</h1>

  <p>
    Recognize that students are performing the work done in this school and will be monitored by a licensed instructor.
  </p>
  
  <p> Charge for materials used only, no charge for services</p>



    <!-- Full Name -->
    <label for="fname">Full Name:</label>
    <input type="text" id="fname" name="fname">



    <!-- Todays date -->
    <label for="date">date:</label>
    <input type="date" id="tdate" name="tdate" 
           class="date-input">

    <input type="submit" value="Submit">

  </form>
</div>

</body>
</html>