<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Survey Form</title>
   <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Waxing Form</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="waxing.css">

</head>

<body>

<div class="form-box">
    <h2>Waxing Form</h2>
    <form>
        <!-- Question 1 -->
        <div class="question">
            <p>Are you using Retin-A,Accutane,Glycolic Acid, or Alpha Hydroxy treatment?</p>
            <label><input type="radio" name="q1"> Yes</label>
            <label><input type="radio" name="q1"> No</label>
        </div>
<hr>
        <!-- Question 2 -->
        <div class="question">
            <p>2.Are you allergic to bee? (GIGI Honee)</p>
            <label><input type="radio" name="q2"> Yes</label>
            <label><input type="radio" name="q2"> No</label>

        </div>
<hr>
        <!-- Question 3 -->
        <div class="question">
            <p>3.Have you used soap or astringents within the last two hours?</p>
            <label><input type="radio" name="q3"> Yes</label>
            <label><input type="radio" name="q3"> No</label>
        
        </div>
<hr>
        <!-- Question 4 -->
        <div class="question">
            <p>4. Have you been in the sun or tanning , or in hot water with in the last eight hours before you wax?</p>
            <label><input type="radio" name="q4"> Yes</label>
            <label><input type="radio" name="q4"> No</label>
   
        </div>
<hr>
        <!-- Question 5 -->
        <div class="question">
            <p>5.Do you have varicose veins diabetes ,phlebitis,chapped sore or sunburned skin, recent tissue eczema or any skin disorder?</p>
            <label><input type="radio" name="q5"> Yes</label>
            <label><input type="radio" name="q5"> No</label>

        </div>

<hr>
     <label for="date">date:</label>
    <input type="date" id="tdate" name="tdate" 
           class="date-input"></input>
<hr>

    <label for="fname">Full Name:</label>
    <input type="text" id="fname" name="fname">




        <label for="sname">Signature:</label>
    <input type="text" id="sname" name="sname">


        <button type="submit">Submit</button>
        

    </form>
</div>

</body>
</html>
