<!DOCTYPE html>
<html>
<head>
       <meta charset="utf-8">


       {% load static %}

       <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <title> Cosmetology Form</title>
       <meta name="description" content="">
       <meta name="viewport" content="width=device-width,initial-scale=1">
       <link rel="stylesheet" href="{% static 'css/welcome.css' %}">




</head>
<body>
   <h1>Welcome to Cosmetology </h1>
   <div class="btn-group" >
      <a href="{% url 'sign-in' %}">Check-In </a>
      <a href="{% url 'feedback' %}">Check-Out </a>
   </div>
   <script>
      (function() {
         var params = new URLSearchParams(window.location.search);
         if (params.get('thank') === '1') {
            alert('Thank you for checking-in, someone will be with you shortly!');
            params.delete('thank');
            var newUrl = window.location.pathname + (params.toString() ? '?' + params.toString() : '');
            window.history.replaceState({}, document.title, newUrl);
         }
      })();
   </script>
</body>
</html>


