
<!DOCTYPE html>
<html>
<head>
       <meta charset="utf-8">


       {% load static %}

       <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <title> Cosmetology Form</title>
       <meta name="description" content="">
       <meta name="viewport" content="width=device-width,initial-scale=1">
       <link rel="stylesheet" href="{% static 'css/welcome.css' %}">




</head>
   <body>
<h1>Welcome to Cosmetology </h1>
 <p>Recognize that students are performing the work done in this school and will be monitored by a licensed instructor. Therefore your patience and support is appreciated.</p>
    
<div class="btn-group" >
 <a href="{% url 'sign-in' %}">Check-In </a>
 <a href="{% url 'feedback' %}">Check-out </a>
</div>
</html>


